
<h1>All the stocks!</h1>
    <p> Results: 1 - 100 of 7960</p>
    <ul class="list-group list-group-flush lead mt-3">

        <% for (let i = 0; i <= 100; i++) { %>
            <% const stock = data[i]; %>
            <li class="list-group-item position-relative">
                <span class="fw-bold position-absolute"><%= stock %></span>
                    <span class="offset-2 d-flex flex-row justify-content-around">
                        <a href="/stockclose/<%= stock %>/7">7 days</a>
                        <a href="/stockclose/<%= stock %>/30">1 month</a>
                        <a href="/stockclose/<%= stock %>/90">3 months</a>
                        <a href="/stockclose/<%= stock %>/180">6 months</a>
                        <a href="/stockclose/<%= stock %>/365">1 year</a>
                    </span>
                
            </li>
        <% } %>

    </ul>